<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @doc.title %>
</p>

<p>
  <b>Body:</b>
  <%= @doc.body %>
</p>


<%= link_to 'Edit', edit_doc_path(@doc) %> |
<%= link_to 'Back', docs_path %>
